http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/ticker/bookTicker?symbol=ETHUSDT
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=UTF-8
      x-mbx-uuid: 8ec69e91-5353-431e-93db-f2a3ac570b73
      x-mbx-used-weight: '1'
      x-mbx-used-weight-1m: '1'
      x-content-security-policy: default-src 'self'
      x-webkit-csp: default-src 'self'
    body:
      encoding: UTF-8
      file: no
      string: '{"symbol":"ETHUSDT","bidPrice":"3847.76000000","bidQty":"0.08410000","askPrice":"3847.77000000","askQty":"3.08740000"}'
  recorded_at: 2021-12-17 17:55:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
