http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/premiumIndex
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-mbx-used-weight-1m: '12'
      x-response-time: 0ms
    body:
      encoding: UTF-8
      file: no
      string: '[{"symbol":"RAYUSDT","markPrice":"7.15496499","indexPrice":"7.16318261","estimatedSettlePrice":"7.15982909","lastFundingRate":"-0.00034057","interestRate":"0.00010000","nextFundingTime":1639987200000,"time":1639975533002},{"symbol":"SUSHIUSDT","markPrice":"5.35851385","indexPrice":"5.35961328","estimatedSettlePrice":"5.35861195","lastFundingRate":"0.00010000","interestRate":"0.00010000","nextFundingTime":1639987200000,"time":1639975533002},{"symbol":"CVCUSDT","markPrice":"0.32589250","indexPrice":"0.32596422","estimatedSettlePrice":"0.32568137","lastFundingRate":"0.00010000","interestRate":"0.00010000","nextFundingTime":1639987200000,"time":1639975533002},{"symbol":"BTSUSDT","markPrice":"0.03319424[...]
