http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-mbx-used-weight-1m: '1'
      x-response-time: 0ms
    body:
      encoding: UTF-8
      file: no
      string: '{"symbol":"BTCUSDT","markPrice":"46840.63000000","indexPrice":"46849.34054739","estimatedSettlePrice":"46803.06104551","lastFundingRate":"0.00010000","interestRate":"0.00010000","nextFundingTime":1639872000000,"time":1639846994000}'
  recorded_at: 2021-12-18 17:03:14 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
